<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link " th:href="@{/}">返回主菜单</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active disabled" th:href="@{/client/add}">顾客资料维护</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/product/all}">商品资料维护</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/product/store}">库存管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/saleNote/all}">销售业务管理</a>
            </li>

        </ul>
    </div>
</div>
</body>
</html>