<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Responsive Admin Dashboard Template" name="description">
    <meta content="admin,dashboard" name="keywords">
    <meta content="stacks" name="author">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Space - Responsive Admin Dashboard Template</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/icomoon/style.css" rel="stylesheet">
    <link href="../static/uniform/css/default.css" rel="stylesheet"/>
    <link href="../static/switchery/switchery.min.css" rel="stylesheet"/>
    <link href="../static/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>
    <link href="../static/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>

    <!-- Theme Styles -->
    <link href="../static/space.min.css" rel="stylesheet">
    <link href="../static/themes/admin2.css" rel="stylesheet">
    <link href="../static/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- 左侧菜单栏 -->
<div class="page-container">
    <!-- Page Sidebar -->
    <div class="page-sidebar">
        <a class="logo-box" th:href="@{/}">
            <span>通用销售系统v3.0</span>
        </a>
        <div class="page-sidebar-inner">
            <div class="page-sidebar-menu">
                <ul class="accordion-menu">
                    <li>
                        <a th:href="@{/}">
                            <i class="menu-icon icon-home4"></i><span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="menu-icon icon-flash_on"></i><span>库存</span><i
                                class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/product/store}">全部库存</a></li>
                            <li><a th:href="@{/product/storeHouse}">仓库库存统计</a></li>
                            <li><a th:href="@{/product/purchase}">进货</a></li>
                            <li><a th:href="@{/product/adjust}">调货</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="menu-icon icon-layers"></i><span>客户</span><i
                                class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/client/all}">全部客户</a></li>
                            <li><a th:href="@{/client/wholesales}">批发客户</a></li>
                            <li><a th:href="@{/client/retails}">零售客户</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="menu-icon icon-code"></i><span>销售</span><i
                                class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/saleNote/all}">销售单</a></li>
                            <li><a th:href="@{/saleNote/product}">货品销售统计</a></li>
                            <li><a th:href="@{/saleNote/client}">客户销售统计</a></li>
                            <li><a th:href="@{/saleNote/receive}">客户结款情况</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="menu-icon icon-format_list_bulleted"></i><span>货品</span><i
                                class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/product/all}">货品</a></li>
                        </ul>
                    </li>
                    <li class="active-page">
                        <a href="javascript:void(0);">
                            <i class="menu-icon icon-star"></i><span>用户</span><i
                                class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a class="active" th:href="@{/user/control}">用户激活</a></li>
                            <li><a th:href="@{/user/sale}">业绩统计</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="menu-icon icon-show_chart"></i><span>经营状况</span><i
                                class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/company}">经营状况统计</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /左侧菜单栏 -->

    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Header -->
        <div class="page-header">
            <!-- 导航栏 -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="javascript:void(0)" id="collapsed-sidebar-toggle-button"><i
                                    class="fa fa-bars"></i></a></li>
                            <li><a href="javascript:void(0)" id="toggle-fullscreen"><i class="fa fa-expand"></i></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a th:href="@{/user/now}">个人中心</a></li>
                            <li><a th:href="@{/user/login}" id="quit">退出登录</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div><!-- /Page Header -->
        <!-- Page Inner -->
        <div class="page-inner">
            <div class="page-title">
                <h3 class="breadcrumb-header">用户激活</h3>
            </div>
            <div id="main-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <form action="javascript:void(0);" id="alert-row-form">
                                    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade"
                                         id="myModal_alert"
                                         role="dialog" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button aria-label="Close" class="close" data-dismiss="modal"
                                                            type="button"><span
                                                            aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel_alert">提示</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <p id="alert"></p>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-default" data-dismiss="modal"
                                                            type="button">取消
                                                    </button>
                                                    <button class="btn btn-success" id="alert-row"
                                                            type="submit">确定
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="table-responsive">
                                    <table class="display table" id="tab" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>名称</th>
                                            <th>角色</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user:${users}">
                                            <td th:text="${user.id}">1</td>
                                            <td th:text="${user.name}">华为手机</td>
                                            <td th:text="${user.role}">华为手机</td>
                                            <td th:text="${user.state}">华为手机</td>
                                            <td>
                                                <button class="btn btn-info mr-sm-2" onclick=active(this) type="button">
                                                    激活
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Row -->
            </div><!-- Main Wrapper -->
        </div><!-- /Page Inner -->
    </div><!-- /Page Content -->
</div><!-- /Page Container -->


<!-- Javascripts -->
<script src="../static/jquery/jquery-3.1.0.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../static/uniform/js/jquery.uniform.standalone.js"></script>
<script src="../static/switchery/switchery.min.js"></script>
<script src="../static/datatables/js/jquery.datatables.js"></script>
<script src="../static/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="../static/space.min.js"></script>
<script>
    $('#quit').on('click', function () {
        $.ajax({
            url: "/user/quit",
            type: "POST",  /*采用POST方法提交*/
            dataType: 'JSON',
            contentType: 'application/json;charset=UTF-8',
            cache: false,
            success: function (result) {
                //alert(result)
                if (result.code === "200") {
                    console.log("请求成功")
                    document.cookie = "token=0; max-age=0; path=/";
                    window.location.href="/user/login";
                } else {
                    alert(result.message)
                }
            }
        })
    });
    function alert(message){
        $('.modal').modal('hide');
        $('#myModal_alert').modal("show",);
        $("#alert").html(message);
    }
    $('#alert-row').on('click', function () {
        $('#myModal_alert').modal("hide");
        window.location.reload();
    });
    function active(obj) {
        let tr = obj.parentNode.parentNode //取到了tr对象
        let value = $(obj).parent().parent().find("td");
        let id = Number.parseFloat(value.eq(0).text());
        console.log(id)
        if (!isNaN(id)) {
            $.ajax({
                url: "/user/active",
                type: "POST",  /*采用POST方法提交*/
                data: {"id": id},  /*提交的数据（json格式），从输入框中获取*/
                dataType: 'JSON',
                //contentType:'application/json;charset=UTF-8',
                cache: false,
                success: function (result) {
                    //alert(result)
                    if (result.code === "200") {
                        console.log("请求成功")
                        window.location.reload();
                    } else {
                        alert(result.message)
                    }
                }
            })
        }
    }
    let t = $('#tab').DataTable();
</script>
</body>

</html>