<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.labdemo.mapper.ClientDao">
    <resultMap id="staticsVoMap" type="com.example.labdemo.vo.statistic.ClientStatisticsVo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>
    <select id="selectStaticsVo" resultMap="staticsVoMap">
        SELECT tc.id,tc.`name`,tc.type FROM `t_client` tc
    </select>
</mapper>